<div class="h-100 bg-dark text-white d-flex flex-column align-items-center justify-content-center overflow-auto position-relative">
    <h3 class="room-header">Room</h3>
    <div>
        <div #peersScreenContainer id="presenter-container"></div>
        <div #peersContainer id="peers-container"></div>
    </div>
    <div class="col-auto control-panal">
            <button type="button" class="btn btn-primary mb-3" (click)="leaveMeet()">Leave</button>
            <button type="button" class="btn btn-primary mb-3" (click)="toggleAudio()">{{audioEnabled?"Off A":"ON A"}}</button>
            <button type="button" class="btn btn-primary mb-3" (click)="toggleVideo()">{{videoEnabled?"Off V":"ON V"}}</button>
            <button type="button" class="btn btn-primary mb-3" (click)="shareScreen()">Share Screen</button>
            <button type="button" class="btn btn-primary mb-3" (click)="stopScreen()">Stop Screen</button>
    </div>
</div>