.video {
	aspect-ratio: 4/3;
	max-height: calc(100vh - 6rem);
	max-width: 100%;
	width: fit-content;
	height: fit-content;
	display: block;
	filter: sepia(80%);
	background-color: black;
	border-radius: 1.28rem;
	object-fit: cover;
	align-self: center;
}