<div class="h-100 bg-dark text-white d-flex flex-column align-items-center justify-content-center">
    <h3>Room</h3>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" (click)="leaveMeet()">Leave</button>
      </div>
    <!-- <div *ngFor="let peer of peers">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <video class="video"
            autoplay
            playsinline
            muted
            >
            </video>
            <p>{{peer.name}}</p>
            <p>{{peer.roleName}}</p>
        </div>
    </div> -->
    <div id="peers-container">

    </div>
</div>
